// 3rd Party Customizations

@import "static/utility-box";

// Zebra Sections layout -- customize header
body >header {
   // background-image: url(assets/banners/brian-miller-b4N0GAEn-RQ-unsplash.jpg);
   // background-image: url(assets/banners/richard-lee-9ME5tBjVyMQ-unsplash.jpg);
   background-image: url(assets/banners/jason-rojas-MzUyiPl4blE-unsplash.jpg);
   // background-image: url(assets/banners/wlodzimierz-jaworski-jullz6sf1uY-unsplash.jpg);
   }
body >header nav#link-menu a,
body >header nav#link-menu a.current,
body >header nav#link-menu a:hover {
   color: white;
   }
body >header nav#link-menu a.current,
body >header nav#link-menu a:hover {
   border-color: gold;
   }

// Marble Checklist
ol.marble-checklist >li:nth-child(odd)::before  { background-color: @colorAdpBlue; }  //marbles
ol.marble-checklist >li:nth-child(even)::before { background-color: @colorAdpRed; }   //marbles
ol.marble-checklist >li label b::after { background-color: @colorAdpSkyBlue; border-color: @colorAdpSkyBlue; }  //checkboxes

// Summary Details Colors
details >summary::before { color: inherit; }  //collapsed marker color
details[open] >summary::before, details >summary:hover::before { color: black; }  //expanded marker color
details >summary+header, details:not(:has(details))::details-content { background-color: lightblue; }  //content box

// Summary Details Colors
details >summary::before { color: inherit; }  //collapsed marker
details[open] >summary::before { color: black; }  //expanded marker
details >summary:hover::before { color: black; text-shadow: 0px 0px 0.2em deepskyblue; }  //hover on closed marker
details >summary+header, details:not(:has(details))::details-content { background-color: lightblue; }  //content box
