{% assign githubHome = 'https://github.com/american-democratic-party/adp-website' %}
{% assign redditSub =  'https://www.reddit.com/r/AmericanDemocrats' %}

<ol id=todo-list class=marble-checklist data-on-load=libX.marbleChecklist.setup>
   <li id=github>  <p>Star the <a href={{githubHome}}>american-democratic-party</a> project on GitHub</p></li>
   <li id=reddit>  <p>Join <a href={{redditSub}}>r/AmericanDemocrats</a> on Reddit</p></li>
   <li id=register><p>Set your voter registration preference to "American Democratic Party"</p></li>
</ol>
