<!-- Democrats | Republicans | APs -->
<tr data-area=aaa-intro>  <td>leftists</td>                           <td>conservatives</td>                  <td>liberals</td></tr>
<tr data-area=aaa-intro>  <td>woke</td>                               <td>anti-woke</td>                      <td>anti-woke</td></tr>
<tr data-area=basics>     <td>bad government</td>                     <td>no government</td>                  <td>good government</td></tr>
<tr data-area=basics>     <td>delusion and gaslighting</td>           <td>integrity and truthfulness</td>     <td>integrity and truthfulness</td></tr>
<tr data-area=basics>     <td>doomerism</td>                          <td>pursuit of happiness</td>           <td>pursuit of happiness</td></tr>
<tr data-area=basics>     <td>idealogical purity tests</td>           <td>conspiracy theories</td>            <td>cold hard truth</td></tr>
<tr data-area=basics>     <td>open border</td>                        <td>secure border</td>                  <td>secure border</td></tr>
<tr data-area=basics>     <td>socialism</td>                          <td>individualism</td>                  <td>individualism</td></tr>
<tr data-area=basics>     <td>tankies</td>                            <td>anti-communists</td>                <td>anti-communists</td></tr>
<tr data-area=crime>      <td>defund the police</td>                  <td>law & order</td>                    <td>law & order & trust</td></tr>
<tr data-area=crime>      <td>gun control</td>                        <td>2nd Amendment</td>                  <td>fix root causes of crime not 2A</td></tr>
<tr data-area=crime>      <td>innocent until proven guilty</td>       <td>vigilante justice</td>              <td>innocent until proven guilty</td></tr>
<tr data-area=crime>      <td>low-trust society</td>                  <td>high-trust society</td>             <td>high-trust society</td></tr>
<tr data-area=crime>      <td>no prisons</td>                         <td>inhumane prisons</td>               <td>humane prisons</td></tr>
<tr data-area=diplomacy>  <td>divide up countries by ethnicity</td>   <td>enemy of my enemy is my friend</td> <td>respect sovereignty</td></tr>
<tr data-area=diplomacy>  <td>jihad apologists</td>                   <td>anti-terrorism</td>                 <td>anti-terrorism</td></tr>
<tr data-area=economics>  <td>high taxes</td>                         <td>no taxes</td>                       <td>low taxes</td></tr>
<tr data-area=economics>  <td>pro-labor</td>                          <td>anti-labor</td>                     <td>pro-business labor</td></tr>
<tr data-area=economics>  <td>wealth redistribution</td>              <td>free market</td>                    <td>free market</td></tr>
<tr data-area=environment><td>anti-coal</td>                          <td>pro-coal</td>                       <td>anti-coal</td></tr>
<tr data-area=environment><td>anti-nuclear</td>                       <td>pro-nuclear</td>                    <td>nuclear when <span>cost-effective</span></td></tr>
<tr data-area=environment><td>climate alarmists</td>                  <td>climate deniers</td>                <td>climate realists</td></tr>
<tr data-area=environment><td>climate over economy</td>               <td>economy over climate</td>           <td>killing one, kills both</td></tr>
<tr data-area=environment><td>depopulate to save the planet</td>      <td>optimism & prosperity</td>          <td>optimism & prosperity</td></tr>
<tr data-area=environment><td>environmental narcissists</td>          <td>anti-environmentalists</td>         <td>real environmentalists</td></tr>
<tr data-area=environment><td>stop oil</td>                           <td>drill, baby, drill</td>             <td>drill, baby, drill in democracies to undo OPEC</td></tr>
<tr data-area=environment><td>vandalize EVs</td>                      <td>de-emphasize EVs</td>               <td>pro-EVs</td></tr>
<tr data-area=social>     <td>disparage housewives</td>               <td>encourage housewives</td>           <td>support housewives</td></tr>
<tr data-area=social>     <td>encourage fatherlessness</td>           <td>end fatherlessness</td>             <td>end fatherlessness</td></tr>
<tr data-area=social>     <td>fund public education</td>              <td>private education</td>              <td>fund public education</td></tr>
<tr data-area=social>     <td>glorify obesity</td>                    <td>fat shaming</td>                    <td>solve the obesity epidemic</td></tr>
<tr data-area=social>     <td>inject leftist agenda into science</td> <td>skepticism</td>                     <td>pro-science</td></tr>
<tr data-area=social>     <td>need Blacks to be victims</td>          <td>want more Black billionaires</td>   <td>want more Black billionaires</td></tr>
<tr data-area=social>     <td>victimhood mentality</td>               <td>personal responsibility</td>        <td>personal responsibility</td></tr>
<tr data-area=zzz-closing><td>blame America</td>                      <td>America is great</td>               <td>America is great</td></tr>
