<p>
   We believe in common sense.
</p>
<p>
   We believe in freedom, human rights, and democracy but thoroughly reject the Democrat's gaslighting and dishonest manipulation of words.
</p>
<p>
   We believe in fair trade with strong protections for workers and the environment &mdash; we are not protectionists or isolationists.
</p>
<p>
   We are market capitalists leveraging hard work, innovation, and technology to make the world better, and we staunchly oppose Communism and all its modern day lookalikes.
</p>
<p>
   We believe in international cooperation, and we demand that international institutions stop appeasing and supporting dictators, warlords, and jihadists.
</p>
<p>
   We believe America is the greatest country in the history of the world.
</p>
