<li>Liberal ideology and identity politics are in direct opposition to liberal principles.</li>
<li>Wokeism, doomerism, and violent protests are an existential threat to America.</li>
<li>The legacy Democratic Party is on a path of no return and cannot be saved.</li>
<li>Carbon capture, climate justice, net zero, and the UN COP are all fraudulent &ndash; the only viable solution to the Climate Crisis is to power everything we practically can with clean electricity as soon as possible.</li>
<li>Lawful immigration is good for America and should be increased while illegal immigration needs a total hard stop.</li>
<li>Real liberals must have their own political party.</li>
<li>America is the greatest country in the history of the world.</li>
