<li>Liberal ideology and identity politics are in direct opposition to liberal principles.</li>
<li>Wokeism, doomerism, and violent protests are an existential threat to America.</li>
<li>Reject gaslighting and reject dishonest manipulation of words.&nbsp; Seek the cold hard truth.</li>

<li>DEI, quotas, and affirmative action were justified in the aftermath of the Civil Rights Era but now 5 decades on the policies are seriously disempowering and impeding the success of Black Americans.</li>
<li>Obsession with racism is causing poverty &mdash; we must shift to solving poverty without regard to race.</li>
<li>Lawful immigration is good for America and should be increased while illegal immigration needs a total hard stop.</li>

<li>There is never a valid excuse or justification for terrorism.</li>
<li>The Climate Crisis is real and the only viable solution is to transition to clean electricity as soon as practically possible.</li>
<li>Carbon capture, climate justice, net zero, and the UN COP are all fraudulent virtue signaling.</li>

<li>The Democratic Party is on a path of no return and should not be saved.</li>
<li>Real liberals must have their own political party.</li>
<li>America is the greatest country in the history of the world.</li>
