// American Democratic Party
// Style: Constants

@import "utility-box";

// Custom Colors
@colorAdpBlue:    navy;
@colorAdpRed:     firebrick;
@colorAdpGray:    dimgray;
@colorAdpSkyBlue: dodgerblue;

// Background Images
@imageAmericanFlagBanner: url(assets/backgrounds/american-flag-by-tim-mossholder-QsX23A3NgMQ-unsplash-blur.jpg);
