<details>
   <summary>Keep Taxes as Low as Reasonably Possible</summary>
   <p>
      We believe in good government.&nbsp;
      In order to achieve good government, it's imperative to relentlessly do the hard work of
      continually reviewing government spending to cut waste and eliminate programs that have
      outlived their usefulness.&nbsp;
      We oppose attempts to dismantle the government, but we strongly believe in respecting the
      American taxpayers who are footing the bill.&nbsp;
   </p>
   <p>
      Everyone hates paying taxes.&nbsp;
      We have an obligation to keep taxes as low as reasonably possible.&nbsp;
   </p>
</details>
